.centerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.divContent{
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fafafa;
    border-radius: 5px;
    height: 580px;
    width: 700px;
}
.margenContet{
    margin-left: 5px;
    width: 700px;
}
.headerForm{
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  flex: auto;
}
.imgReg{
    height: 160px;
}